body{
    font-family: 'Khmer OS Siemreap';
}
ul li.nav-item a.disabled{
    display: none;
}
.nav-item .nav-link
{
    color: black;
}
a.logo img{
    width: 180px;
    height:160px;
    margin-top: -50px
}
a.logo img:hover
{
    background-color:brown
}
.header{
    background-color: white;
    padding: 0;
}
.nav-link:hover
{
   color: white;
   background-color:brown;
   border-radius:10px;
}
.menu{
    padding: 20px;
}
a.logo{
    font-size: 24px;
    font-weight: 800;
    text-decoration: none;
    color: black;
}
a.logo:hover{
    color: blue;
    border-bottom: solid 2px blue;
}
ul li.nav-item a{
    display: block;
    font-size: 24px;
    font-weight: 800;
    color: gray;
}
.carousel-inner .carousel-item img{
    width: 100%;
    height: 100%;
}
ul li.nav-item a.active{
    color: blue;
    border-bottom: solid 2px blue;
}
ul li.nav-item a:hover{
    border-bottom: solid 2px blue;
}
.space-top{
    margin-top: 10px;
}
.space-top h1{
    color: darkblue;
    text-align: center;
    text-decoration: underline;
}
.space-top p{
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}
.footer{
    margin-top: 30px;
    text-align: center;
    background-color: #cccccc;
    bottom: 0;
}
.footer h1{
    font-size: 24px;
    padding: 10px;
    font-weight: 700;
}
.footer p{
    padding: 10px;
    font-weight: 700;
}
.footer a{
    text-decoration: none;
    font-size: 20px;
}