<div class="container-fluid">
    <div class="container">
        <div class="row space-top">
            <div class="col-xl-6 welcome-image">
                <img src="../assets/image/khmers-food.jpg" alt="">
            </div>
            <div class="col-xl-6 welcome-text">
                <h1>ភ្លក់មុខម្ហូបជាអ្វី?</h1>
                <p>ភ្លក់មុខម្ហូប ជាគេហទំព័រជាភាសាខ្មែរដែលបង្កើតក្នងគោលបំណងផ្តល់ជា<br>គន្លឹះនិងចំណេះដឹងខាងធ្វើម្ហូប
                    និងម្ហូបអាហារដ៍សំបូរបែបនៅក្នុងប្រទេសកម្ពុជា</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row space-top bg">
            <div class="col-xl-6 food-text">
                <h1>អ្នករចនាគេហទំព័រ</h1>
                <img src="../assets/image/group-photo.jpg" alt="">
                <p>ក្រុមនិស្សិតព័ត៌មានវិទ្យាជំនាន់ទី ២៣ នៃសាកលវិទ្យាល័យភូមិន្ទភ្នំពេញ</p>
                <p style="margin-top: -20px">(Royal University of Phnom Penh)</p>
            </div>
            <div class="col-xl-6 food-image">
                <img src="../assets/image/people.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row space-top bg">
            <div class="col-xl-6 food-text">
                <h1>ទំនាក់ទំនង</h1>
                <label for="exampleDataList" class="form-label">អ៊ីម៉ែល</label>
                <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="បញ្ចូលអ៊ីម៉ែល...">
                <button type="button" class="btn btn-primary mt-2">បញ្ចូន</button>
            </div>
            <div class="col-xl-6 food-image">
                <img src="../assets/image/contact.png" alt="" style="object-fit: contain;">
            </div>
        </div>
    </div>
</div>