<div class="container">
    <div class="card sort">
        <div class="card-body">
            <!-- Example single danger button -->
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    ជ្រើសរើសប្រភេទភេសជ្ជៈ
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">ទឹកសុទ្ធ</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">ស្រាបៀរ</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">ទឹកកំប៉ុង</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">ទឹកផ្លែឈើ</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">ទឹកក្រឡុក</a></li>
                </ul>
            </div>
            
        </div>
    </div>
</div>
<div class="container-fluid space-top">
    <div class="container food">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card foodcard">
                    <img src="../assets/image/ទឹកសុទ្ធ.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ទឹកសុទ្ធ!!</h5>
                        <p class="card-text">ទឹកគឺជាសារធាតុអសរីរាង្គ ថ្លា គ្មានរសជាតិ គ្មានក្លិន និងស្ទើរតែគ្មានពណ៌ ដែលជាធាតុផ្សំសំខាន់នៃអ៊ីដ្រូស្វ៊ែររបស់ផែនដី និងសារធាតុរាវនៃសារពាង្គកាយមានជីវិតដែលគេស្គាល់ទាំងអស់។</p>
                    </div>
                    <div class="card-body">
                        <a href="javascript:;" class="card-link sub-page-route" data-menu="DrinkPage" data-sub-page="ReadWater">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card foodcard">
                    <img src="../assets/image/ទឹកផ្លែល្ពៅ.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ទឹកផ្លែល្ពៅ!!</h5>
                        <p class="card-text">ល្ពៅគឺជាបន្លែពណ៌ទឹកក្រូចដែលមានជីវជាតិខ្ពស់។​ មានវិធីជាច្រើនដើម្បីបញ្ចូលល្ពៅទៅក្នុងរបបអាហារប្រចាំថ្ងៃ ដូចជា បង្អែម ស៊ុប សាឡាត់ គ្រឿងរក្សាគុណភាព និងសូម្បីតែជំនួសប៊ឺ។នៅទីនេះយើងពិនិត្យមើលអត្ថប្រយោជន៍ជាច្រើននៃល្ពៅផ្តល់នូវជាតិបំប៉ន ដែលធ្វើឱ្យមានសុខភាពល្អ។</p>
                    </div>
                    <div class="card-body">
                        <a href="javascript:;" class="card-link sub-page-route" data-menu="DrinkPage" data-sub-page="ReadPapaya">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card foodcard">
                    <img src="../assets/image/តែទឹកដោះគោគ្រីម.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">តែទឹកដោះគោគ្រីម!!</h5>
                        <p class="card-text">តែទឹកដោះគោគ្រីម​ គឺជាតែដែលពិសាទៅជួយអោយសុខភាពល្អ និងជួយអោយរាងកាយមាំមួនដើម្បីជំនួយដល់សុខភាព។</p>
                    </div>
                    <div class="card-body">
                        <a href="javascript:;" class="card-link sub-page-route" data-menu="DrinkPage" data-sub-page="ReadWatergreen">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card foodcard">
                    <img src="../assets/image/ទឹក Lemon Green Tea.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ទឹក Lemon Green Tea!!</h5>
                        <p class="card-text">ទឹក​ Lemon Green Tea គឺជាទឹករូចឆ្មាពណ៍បៃតង ដែលធ្វើឱ្យមានសុខភាពល្អនិងជួយបំប៉នសុខភាពអោយបានមាំមួន។</p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="card-link">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card foodcard">
                    <img src="../assets/image/ទឹក Sero.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ទឹក Sero!!</h5>
                        <p class="card-text">ទឹក Sero គឺជាទឹកស្ករដែលមានរសជាតិផ្អែម និងជួយបំពេញតម្រូវការដល់អតិថជននិងជួយបំប៉នសុខភាពអោយបានមាំមួន។</p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="card-link">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card foodcard">
                    <img src="../assets/image/ទឹកដូងក្រូអូបក្រឡុក.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ទឹកដូងក្រូអូបក្រឡុក!!</h5>
                        <p class="card-text">ទឹកដូងក្រូអូបក្រឡុក គឺជាទឹកដូងធម្មជាតិដែលមាននៅក្នុងប្រទេសកម្ពុជា ជាពិសេសអាចជួយដល់បងប្អូនដែលជាអាជីវករយកទៅលក់ដូរនៅក្នុងទីផ្សារបានផងដែរ។</p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="card-link">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space-top">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
        </ul>
    </nav>
</div>
    