<div class="container">
    <div class="card sort">
        <div class="card-body">
            <!-- Example single danger button -->
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">
                    ជ្រើសរើសប្រភេទអាហារ
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">សម្លរ</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">ឆា</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">ស្ងោរ</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">អាំង</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">ចៀន</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">បំពង</a></li>
                </ul>
            </div>
            
        </div>
    </div>
</div>
<div class="container-fluid space-top">
    <div class="container food">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card foodcard">
                    <img src="../assets/image/សម្លកកូរ.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">សម្លរកកូរ!!</h5>
                        <p class="card-text">ជា​ស៊ុប​ប្រពៃណី​ខ្មែរ។ វា​ត្រូវ​បាន​គេ​ចាត់​ទុក​ជា​មុខ​ម្ហូប​ជាតិ​មួយ​របស់​ខ្មែរ​ផង​ដែរ។ សម្លកាកូមានក្រញូងបៃតង ប្រហុក អង្ករដំណើប ត្រីក្រាញ់ សាច់ជ្រូក ឬសាច់មាន់ បន្លែ ផ្លែឈើ និងឱសថ។.</p>
                    </div>
                    <div class="card-body">
                        <a href="javascript:;" class="card-link sub-page-route" data-menu="FoodPage" data-sub-page="ReadKorko">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card foodcard">
                    <img src="../assets/image/នំបញ្ចុក.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">នំបញ្ចុក!!</h5>
                        <p class="card-text">ជា​ម្ហូប​ខ្មែរ​ដែល​គេ​និយម​ចូលចិត្ត​ខ្លាំង​ណាស់ ដែល​ជា​ភាសា​អង់គ្លេស​ជួនកាល​គេ​ហៅ​សាមញ្ញ​ថា «គុយទាវ»។ វា​ជា​អាហារ​ពេលព្រឹក​ធម្មតា ហើយ​ជា​រៀង​រាល់​ព្រឹក អ្នក​នឹង​ឃើញ​វា​លក់​ដោយ​ស្ត្រី​កាន់​កន្ត្រក​គុយទាវ​ស្រស់​ដែល​ព្យួរ​ពី​បង្គោល​ស្មើ​នឹង​ស្មា​របស់​ពួកគេ។</p>
                    </div>
                    <div class="card-body">
                        <a href="javascript:;" class="card-link sub-page-route" data-menu="FoodPage" data-sub-page="ReadNoodle">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card foodcard">
                    <img src="../assets/image/អាម៉ុក.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">អាម៉ុក!!</h5>
                        <p class="card-text">គឺជាមុខម្ហូបដ៏ល្បីរបស់កម្ពុជាមួយ ប៉ុន្តែអ្នកនឹងឃើញមុខម្ហូបស្រដៀងគ្នានៅក្នុងប្រទេសជិតខាង។ ការ​បន្ថែម​ស្លឹក​ង៉ូវ​ជា​ឱសថ​ក្នុង​ស្រុក​ដែល​ផ្តល់​នូវ​រសជាតិ​ល្វីង​ល្អិតល្អន់​បំបែក​កំណែ​ខ្មែរ​ពី​កញ្ចប់​ដែល​នៅ​សល់។</p>
                    </div>
                    <div class="card-body">
                        <a href="javascript:;" class="card-link sub-page-route" data-menu="FoodPage" data-sub-page="ReadAhmok">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card foodcard">
                    <img src="../assets/image/ការីសាច់មាន់.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ការីសាច់មាន់!!</h5>
                        <p class="card-text">រសជាតិហឹរតិចជាងការីរបស់ប្រទេសថៃជិតខាង សម្លការីក្រហមរបស់កម្ពុជា ធ្វើឡើងដោយប្រើម្ទេសក្រហមក្នុងស្រុកធំៗ ដែលមានរសជាតិស្រាលគួរឲ្យកត់សម្គាល់ បង្កើតបានជាម្ហូបដ៏សម្បូរបែប ប៉ុន្តែមានរសជាតិឆ្ងាញ់។</p>
                    </div>
                    <div class="card-body">
                        <a href="javascript:;" class="card-link sub-page-route" data-menu="FoodPage" data-sub-page="ReadCary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card foodcard">
                    <img src="../assets/image/ខគោ.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ខគោ!!</h5>
                        <p class="card-text">ពាក្យថា ខ សំដៅលើរបៀបធ្វើម្ហូបក្នុងប្រទេសកម្ពុជា ដែលស្ករត្នោតត្រូវបានប្រឡាក់ទៅជាទឹកស៊ីរ៉ូស្អិត បន្ទាប់មកប្រើជាមូលដ្ឋាននៃម្ហូប។ កំណែសាច់គោមានរសជាតិស្មុគស្មាញអស្ចារ្យ។</p>
                    </div>
                    <div class="card-body">
                        <a href="javascript:;" class="card-link sub-page-route" data-menu="FoodPage" data-sub-page="ReadKhorko">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card foodcard">
                    <img src="../assets/image/ប្រហុកខ្ទិះ.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ប្រហុកខ្ទិះ!!</h5>
                        <p class="card-text">ចម្អិន​ជាមួយ​ខ្ទិះដូង​ស្រស់ ស្ករត្នោត និង​សាច់ជ្រូក​ចិញ្ច្រាំ ប្រហុក​ដែលមាន​ជាតិ​ប្រៃ (​ប្រហុក​ប្រៃ) ប្រែជា​ស្រួយ​ល្មម​សម្រាប់​អ្នក​ទស្សនា​ដែល​ភ័យ​ចង់​រីករាយ។</p>
                    </div>
                    <div class="card-body">
                        <a href="javascript:;" class="card-link sub-page-route" data-menu="FoodPage" data-sub-page="ReadBrohok">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space-top">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
        </ul>
    </nav>
</div>