<div class="container-fluid">
    <div class="container">
        <div class="row space-top">
            <div class="col-xl-6 welcome-image">
                <img src="../assets/image/cat_welcom.png" alt="">
            </div>
            <div class="col-xl-6 welcome-text">
                <h1>សួស្តី!</h1>
                <p>សូមស្វាគមន៍មកកាន់គេហទំព័រ "ភ្លក់មុខម្ហូប"<br> ដែលនាំមកនូវរស់ជាតិប្លែកៗ និងមុខម្ហូបថ្មីៗ!!!</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row space-top bg">
            <div class="col-xl-6 food-text">
                <h1>មុខម្ហូប</h1>
                <p>តើថ្ងៃនេះអ្នកចង់កម្មង់មុខម្ហូបអ្វីដែរ? <br> 
                    គេហទំព័រមួយនេះនឹងបង្ហាញអ្នកអំពី "មុខម្ហូប" អាហារប្លែកៗ ឆ្ងាញ់ៗ មានតម្លៃសមរម្យ និងអនាម័យល្អ។ </p>
                <button type="button" class="btn btn-primary">កម្មង់អាហារ</button>
            </div>
            <div class="col-xl-6 food-image">
                <img src="../assets/image/Foods.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row space-top">
            <div class="col-xl-6 food-image">
                <img src="../assets/image/beer.jpg" alt="">
            </div>
            <div class="col-xl-6 food-text">
                <h1>ភេសជ្ជៈ</h1>
                <p>តើថ្ងៃនេះអ្នកចង់កម្មង់ភេសជ្ជៈអ្វីដែរ? <br> 
                    គេហទំព័រមួយនេះនឹងបង្ហាញអ្នកអំពី "ភេសជ្ជៈ" ថ្មីៗ ដែលអាចឱ្យអារម្មណ៍អ្នកស្រស់ស្រាយនៅពេលពិសារ។ </p>
                <button type="button" class="btn btn-primary">កម្មង់ភេសជ្ជៈ</button>
            </div>
            
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row space-top bg">
            <div class="col-xl-6 food-text">
                <h1>បង្អែម</h1>
                <p>តើថ្ងៃនេះអ្នកចង់កម្មង់បង្អែមអ្វីដែរ? <br> 
                    គេហទំព័រមួយនេះនឹងបង្ហាញអ្នកអំពី "បង្អែម" ប្លែកៗ ឆ្ងាញ់ៗ មានការរចនាយ៉ាងល្អឥតខ្ចោះ និងអនាម័យល្អ។ </p>
                <button type="button" class="btn btn-primary">កម្មង់បង្អែម</button>
            </div>
            <div class="col-xl-6 food-image">
                <img src="../assets/image/desert-food.jpg" alt="">
            </div>
        </div>
    </div>
</div>