<div class="container space-top">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/image/ទឹកសុទ្ធ.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../assets/image/ទឹកសុទ្ធ.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../assets/image/ទឹកសុទ្ធ.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container space-top">
    <h1>ទឹកសុទ្ធ</h1>
    <p>ទឹកគឺជាសារធាតុអសរីរាង្គ ថ្លា គ្មានរសជាតិ គ្មានក្លិន និងស្ទើរតែគ្មានពណ៌
        ដែលជាធាតុផ្សំសំខាន់នៃអ៊ីដ្រូស្វ៊ែររបស់ផែនដី និងសារធាតុរាវនៃសារពាង្គកាយមានជីវិតដែលគេស្គាល់ទាំងអស់។
        វាមានសារៈសំខាន់ណាស់សម្រាប់ទម្រង់ជីវិតដែលគេស្គាល់ទាំងអស់ ទោះបីជាវាមិនផ្តល់កាឡូរី
        ឬសារធាតុចិញ្ចឹមសរីរាង្គក៏ដោយ។</p>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">កម្មង់</button>
</div>