<div class="container space-top">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/image/នំបញ្ចុក.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../assets/image/នំបញ្ចុក1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../assets/image/នំបញ្ចុក.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container space-top">
    <h1>នំបញ្ចុក</h1>
    <p>នំបញ្ចុក (English : Num Banh Chok) មានឈ្មោះដើមហៅថា "នំបុកប៉ែន" គឺជានំដែលគេយកម្សៅទៅស្ងោរ
        រួចហើយទើបគេស្រង់យកទៅបុកលាយទឹក រួចគេយកទៅចាក់ក្នុងប៉ែន ទើបយកស្នូលឈើឆ្នុកសង្កត់ប៉ែន ដើម្បីធ្វើជាសសៃៗ រោយវា
        ទម្លាក់ទៅក្នុងទឹកក្ដៅពុះ ដើម្បីចំអិនសសៃម្សៅឲ្យឆ្អិនល្អ ក្រោយមកទើបគេស្រង់ដាក់ក្នង ជាល កញ្ជ្រែង ឬ កញ្ជើល
        ដោយរៀបជាចង្វាយៗ ដើម្បីងាយស្រួលក្នុងការចាប់យកតាមបរិមាណ សមល្មមរបស់ពួកគេ នំបញ្ចុក ជាប្រភេទនំចំអែតក្រពះ ឬ ហៅថា
        អាហារសម្រន់ ដែលពលរដ្ឋកម្ពុជាពេញនិយមបរិភោគ ជាអាហារពេលព្រឹក ឬ ជាអាហារសម្រន់ សម្រាប់ពេលរសៀល ។ នំបញ្ចុក
        ជាអាហារដែលស្រដៀងគ្នាទៅនិង មីទាញ ឬ គុយទាវ របស់ចិន នំបញ្ចុកក៏មានឈ្មោះទៅតាម
        ការហៅរបស់ប្រទេសមួយចំនួនដែលជាប់ប្រទេសកម្ពុជា ដូចជា (ថៃ ហៅ ខៈណុមជិន) និង (ឡាវ ហៅ ខោពុន) នំបញ្ចុក
        មានការឆ្លុះបង្ហាញ តាមរយៈអក្សរសិល្ប៍ដ៏ល្បីល្បាញ របស់ខ្មែរ រឿងធ្មេញជ័យ (ធ្មេញ្ជ័យ) ដែលផ្សារភ្ជាប់ទៅនិង
        ប្រវត្តិសាស្ត្រពិតរបស់កម្ពុជា ដោយលោក វ៉ាន់ឌី កាអ៊ុន ១៩៦៤ ។</p>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">កម្មង់</button>
</div>