<div class="container space-top">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/image/សម្លកកូរ.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../assets/image/សម្លកកូរ1.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container space-top">
    <h1>សម្លកកូរ</h1>
    <p>ជា​ស៊ុប​ប្រពៃណី​ខ្មែរ។ វា​ត្រូវ​បាន​គេ​ចាត់​ទុក​ជា​មុខ​ម្ហូប​ជាតិ​មួយ​របស់​ខ្មែរ​ផង​ដែរ។
        សម្លកាកូមានក្រញូងបៃតង ប្រហុក អង្ករដំណើប ត្រីក្រាញ់ សាច់ជ្រូក ឬសាច់មាន់ បន្លែ ផ្លែឈើ និងឱសថ។.
        រូបមន្ត​សម្លកគោ​នេះ​សម្រាប់​ស៊ុប​ឆ្នាំង​ចំរុះ​បែប​ខ្មែរ​នេះ​ធ្វើ​ជា​ស៊ុប​ដែល​មាន​លក្ខណៈ​ទ្រុឌទ្រោម
        មិន​នឹកស្មាន​ដល់ ផ្តល់​ជីវជាតិ​ដូច​ជា​សម្ល​ដែល​សំបូរ​ទៅដោយ​បន្លែ និង​ផ្លែឈើ
        ហើយ​មាន​គ្រឿងផ្សំ​សំខាន់ៗ​បំផុត​របស់​កម្ពុជា គឺ​ប្រហុក និង​ក្រញូង។
        ជឿ​ថា​ជា​មុខ​ម្ហូប​ដ៏​ចំណាស់​មួយ​ដែល​មាន​ដើម​កំណើត​នៅ​សម័យ​អាណាចក្រ​ខ្មែរ ព្រោះ​ជា​មុខ​ម្ហូប​ជាតិ​របស់​កម្ពុជា។

        រូបមន្តសម្លកគោខ្មែរយើង ធ្វើស៊ុបឆ្ងាញ់ៗ ឆ្ងាញ់ជាប់មាត់ ឆ្ងាញ់ជាប់មាត់ មានបន្លែ និងផ្លែឈើបៃតង
        ដែលត្រូវបានប្រជាជនខ្មែរទាំងអស់ ចូលចិត្ត ជាពិសេសមនុស្សជំនាន់ក្រោយ។ ជាមួយនឹងមូលដ្ឋាននៃប្រហុកដែលមានជាតិជូរ
        (ត្រីប្រហុក) និងក្រញូងពណ៌លឿងបៃតង ដែលជាឱសថបុរាណខ្មែរមួយក្តាប់តូច និងគ្រឿងគ្រឿងទេសមួយក្តាប់តូច
        នេះជាមុខម្ហូបមួយរបស់ខ្មែរដែលមានតម្រូវការច្រើនបំផុត។

        រូបមន្តស៊ុបគោដ៏ឆ្ងាញ់នេះមានបន្ទាប់នៅក្នុងស៊េរីស៊ុបខ្មែររបស់ខ្ញុំ
        ដែលចាប់ផ្តើមជាមួយនឹងស៊ុបខ្មែរដែលខ្ញុំចូលចិត្តមួយគឺ ស៊ុបសាច់គោជូរអែមជាមួយប្រហុក ដែលខ្ញុំបានតាមដានជាមួយសាច់ជ្រូក
        ម្នាស់ និងខ្ទិះដូង - សម្លម្ជូរ និង រូបមន្តស៊ុប 'ក្រៅឆ្នាំង' ត្រជាក់ ដែលពេញនិយមនៅរដូវក្ដៅនេះ។

        វា​ជា​មួយ​រយៈ​ពេល​រវាង​រូបមន្ត​ស៊ុប​ខ្មែរ​ខ្ញុំ​ដឹង។ បន្ទាប់ពីយើងបានផ្លាស់ទៅរស់នៅក្នុងផ្ទះល្វែងថ្មី (តូចជាង
        និងថោកជាង) ដែលទើបតែចេញពីកណ្តាលនៃខេត្តសៀមរាបភាគខាងជើងនៃប្រទេសកម្ពុជាកាលពីជិត 7 សប្តាហ៍មុន
        យើងបានទៅនៅដាច់ដោយឡែកពីគេ ចាប់ផ្តើមធ្វើម្ហូបដោយឡែក និងចាប់ផ្តើមគម្រោងធ្វើម្ហូបដើម្បីធ្វើឱ្យយើងស្ងប់ស្ងាត់
        និងរក្សាពួកយើង។ មមាញឹក និងផ្តោតអារម្មណ៍ ហើយជួយយើងដោះស្រាយជាមួយនឹងជំងឺរាតត្បាតនៃមេរោគនេះ។
        ប៉ុន្តែ​ខ្ញុំ​គិត​ថា​យើង​ប្រហែល​ជា​បាន​យក​គម្រោង​អាហារ​ច្រើន​ពេក​លើ​…

        Terence បានចាប់ផ្តើម​ស៊េរី​រូបមន្ត​សាច់អាំង​បែប​កម្ពុជា​របស់គាត់ (ការផ្សាយ​មួយទៀត​នឹង​មកដល់​ក្នុងពេលឆាប់ៗនេះ)
        ខណៈ​ដែល​គាត់​បន្ត​ដុតនំ​ម្សៅ​ជូរ។ ខ្ញុំចាប់ផ្តើមធ្វើស៊ុបខ្មែររបស់ខ្ញុំ
        មុននឹងចាប់ផ្តើមជក់ចិត្តបន្តិចជាមួយនឹងរូបមន្តធ្វើម្ហូបពីម្សៅស៊ុប។ ហើយបន្ទាប់មកយើងចាប់ផ្តើមដុតនំនំ។
        យើងប្រហែលជាមិនមានប្រាក់ចំណូលច្រើនទេ ប៉ុន្តែយើងមិនដែលចម្អិនច្រើន ឬញ៉ាំឆ្ងាញ់ពេកទេ!</p>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">កម្មង់</button>
</div>