<div class="container space-top">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/image/ការីសាច់មាន់.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../assets/image/ការីសាច់មាន់.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../assets/image/ការីសាច់មាន់.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container space-top">
    <h1>សម្លការី</h1>
    <p>សម្លការីក្រហមជាមួយបង្គារួមផ្សំពីតៅហ៊ូខ្ទិះដូងគឺជាអាហាររបស់ប្រជាជានដែលរស់នៅក្នុងភូមិភាគឥណ្តូចិនជាពិសេសរបស់ប្រជាជនខ្មែរតែម្តង។
        សម្លការីក្រហមគឺចំណាយពេលច្រើនក្នុងការរៀបចំនិង​ចំអិនពីព្រោះវាមានគ្រឿងច្រើនមុខ
        ប់ុន្តែវាមានរស់ជាតិឆ្ងាញ់ពិសេសណាស់។ជាទូទៅគ្រឿងផ្សំសម្រាប់សម្លការីសាច់មាន់មានដូចជា៖ សាច់មាន់ ,ដំឡូងជ្វា
        ​ដំឡូងបារាំង ,ត្រប់ ,ខ្ទឹមបារាំង ,សណ្ដែកកួរ ,ការ៉ុត ,គល់ស្លឹកគ្រៃហាន់ ស្លឹកក្រូចសើច រមៀត រំដេង ខ្ទឹមស
        ,សណ្តែកដីលីង ,ម្ទេសឆ្អើរ ,គ្រឿងការី ,ខ្ទិះដូង ,ប្រហុក រឺកាពិ ,ស្ករស អំបិល ទឹកត្រី
        ។ជាដំបូងត្រូវកាប់សាច់មាន់ជាដុំ រួចចិតសំបកដំឡូង ការ៉ុត និងត្រប់កាត់ជាដុំៗ
        ខ្ទឹមបារាំងបកសំបកចេញរួចហាន់តាមបណ្តោយជាចំនិតៗ សណ្ដែកកួរកាត់កង់ៗ។ ម្ទេសឆ្អើរត្រាំទឹកអោយរីក រួចយកសរសៃ
        និងគ្រាប់ចេញ ចិញ្រ្ចាំអោយម៉ត់ និងយកមកបុកគល់ស្លឹកគ្រៃហាន់ជាមួយស្លឹកក្រូចសើច រមៀត រំដេង ខ្ទឹមស
        សណ្តែកដីលីងរួចដាក់បុក​ច្របល់ជាមួយម្ទេសឆ្អើរ​ចិញ្ច្រាំ និងគ្រឿងការី។
        បន្ទាប់ចាក់ខ្ទិះដូងបន្តិចចូលក្នុងឆ្នាំងរួចដាក់ប្រហុកចិញ្រ្ចំាចូលលីងអោយឈ្ងុយបន្តិច
        រួចដាក់គល់ស្លឹកគ្រៃបុកចូលលីងច្របល់ចូលគ្នា
        រួច​​​ដាក់សាច់មាន់ច្របល់ចូល​គ្នាមួយច្របក់ដាក់ទឹកត្រីអំបិលស្ករបិតគំរប់ឆ្នាំងទុកអោយពុះ។
        ចុងក្រោយថែមខ្ទិះដូងរួ​ចរំងាស់រហូតសាច់មាន់ជិតផុយ រួចទើបដាក់បន្លែទាំងអស់ចូលទុកអោយពុះម្តងទៀត
        បងប្អូនអាចភ្លក់មើលប្រៃផ្អែមតាមចំណូលចិត្តរួចជា​​ការ​ស្រេច៕

    </p>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">កម្មង់</button>
</div>