<div class="container space-top">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/image/ខគោ.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../assets/image/ខគោ.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../assets/image/ខគោ.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container space-top">
    <h1>ខគោ</h1>
    <p>ខគោ គឺជាសម្លមួយប្រភេទដែលអាចយកទៅបរិភោគនិង ពិសាជាមួយ គុយទាវ មី និង​
        របស់ពិសាផ្សេងៗទៀត។វិធីធ្វើ : ដាក់ខ្លាញ់ចូលក្នុងឆ្នាំងបន្តិច បន្ទាប់មកដាក់ គល់ស្លឹកគ្រៃ ស្លឹកក្រូចសើច រំដេង
        គ្រាប់ផ្កាចន្ទ័ រំលីងអោយឈ្ងុយ ហើយដាក់ម្ទេសក្រៀមចូលកូរបន្តទៀត រួចដាក់ស្ករត្នោតចូលកូរអោយរៀងក្រហមហើយ
        ដាក់គ្រឿងសាតេចូល កូរបន្តរទៀត
        ហើយដាក់សាច់គោចូលកូរជាមួយគ្រឿងអោយសព្វ ហើយដាក់ម្សៅស៊ុប អំបិល រួចភ្លក់មើលអោយល្មម តាមការនិយមចូលចិត្ត
        រំងាស់ទុកអោយគ្រឿងចូលជាតិជាមួយនិងសាច់
        ទើបដាក់ទឹកចូល និង ការ៉ុត ទុកអោយពុះ ហើយភ្លក់មើលម្ដងទៀត បើត្រូវម៉ាត់ហើយ បន្តរំងាស់ទុកអោយផុយសាច់ រួចជាការស្រេច
        ។អាចទទួលទានជាមួយមី គុយទាវ នំប័ុង និងជាមួយបាយក៌បាន តាមចំនូលចិត្តរបស់លោកអ្នក ។</p>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">កម្មង់</button>
</div>