<div class="container space-top">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/image/អាម៉ុក.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../assets/image/អាម៉ុក.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../assets/image/អាម៉ុក.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container space-top">
    <h1>អាម៉ុក</h1>
    <p>អាម៉ុក គឺជាមុខម្ហូបដែលគ្រួសារខ្មែរយើង និយមធ្វើសម្រាប់បរិភោគក្នុងគ្រួសារ ទទួលភ្ញៀវបន្តិចបន្តួច
        ឬក្នុងពិធីបុណ្យផ្សេងៗ។ត្រីរ៉ស់ ឬត្រីឆ្ដោរ យកស្រកាចេញឲ្យស្អាត កាត់កន្ទុយ ចៀរព្រុយពោះ និងខ្នងចេញ
        ហើយកោសលាងទឹកឲ្យស្អាត កាត់ក្បាលចេញទុកមួយអន្លើ។ ក្បាលពុះជាពីរឆ្កឹះយកស្បែកក្រអូមលើចេញ លាងឲ្យស្អាត។ បើធំពេក
        អាចកាត់ជាដុំតូចៗល្មម។ ខ្លួនត្រី សើយយកឆ្អឹងខ្នងចេញ ហាន់ជាបន្ទះស្ដើងល្មម។
        គល់ស្លឹកគ្រៃហាន់ស្ដើង ម្ទេសប្លោកក្រៀម ខ្ទឹមស ខ្ទឹមក្រហម រំដេង ខ្ជាយ ល្មៀត សម្បកក្រូចសើច អំបិល
        បុកបញ្ចូលគ្នាឲ្យម៉ដ្ឋ ប្រហុកចិញ្ច្រាំឲ្យម៉ដ្ឋ ឬកាពិដាក់បុកជាមួយគ្រឿង។ សណ្ដែកដីលីងបុកឲ្យល្អិត។
        ស្លឹកក្រូចសើច ហូតទ្រនុងចោល លាងទឹកឲ្យស្អាត ហាន់ជាសរសៃល្អិតៗ។
        ដូងទុំ កោសពូតយកខ្ទិះដើមទុកដោយឡែក និងទឹកខ្ទិះទី២ ទុកដោយឡែក។
        យកខ្ទិះដូងទី១ ពាក់កណ្ដាលបង់អំបិលបន្តិច(កុំឲ្យប្រៃ)។
        ដាក់សាច់ត្រី គ្រឿង សណ្ដែកដី កាពិ ឬប្រហុក ពងទា ទឹកខ្ទិះទីមួយដែលនៅសល់ ទឹកត្រី ស្ករ ម្សៅស៊ុប
        លាយច្របល់ចូលគ្នាកូរឲ្យសព្វ ចាក់ទឹកខ្ទិះទី២ចូល(ប្រយ័ត្នកុំឲ្យរាវពេក) បន្តកូរឲ្យទាល់តែឡើងខាប់ប្រហែល៣០នាទី
        ទុកមួយអន្លើសិន។
        ស្លឹកញ កាត់ទ្រនុងចេញ ឬស្លឹកកន្ទួតលាងទឹកឲ្យស្អាត ដាក់ទ្រាប់បាតកន្ទោងច្រើន ឬតិចតាមចំណូលចិត្ត។
        ដួសត្រីដែលកូរគ្រឿង រួចដាក់ក្នុងកន្ទោង(ឲ្យស្មើសាច់ស្មើគ្រឿង) ដួសទឹកខ្ទិះដើមចាក់ពីលើបន្តិច
        រោយស្លឹកក្រូចសើចដាក់ចំហុយឲ្យឆ្អិន(១៥ ឬ២០នាទី តាមទំហំតូចឬធំ)។</p>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">កម្មង់</button>
</div>