<div class="container space-top">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/image/ប្រហុកខ្ទិះ.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../assets/image/ប្រហុកខ្ទិះ.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../assets/image/ប្រហុកខ្ទិះ.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container space-top">
    <h1>ប្រហុកខ្ទិះ</h1>
    <p>ចម្អិន​ជាមួយ​ខ្ទិះដូង​ស្រស់ ស្ករត្នោត និង​សាច់ជ្រូក​ចិញ្ច្រាំ ប្រហុក​ដែលមាន​ជាតិ​ប្រៃ (​ប្រហុក​ប្រៃ)
        ប្រែជា​ស្រួយ​ល្មម​សម្រាប់​អ្នក​ទស្សនា​ដែល​ភ័យ​ចង់​រីករាយ។​ វិធី :
        យកសាច់ជ្រូកលាងទឹកអោយស្អាតជៀស្បែកចេញកាត់ជាដុំៗទុកមួយ
        ឡែកចំណែកសាច់ជ្រូកចិញ្ច្រាំអោយម៉ត់រួចចិញ្ច្រាំលាយជាមួយប្រហុកអោយសប់សាច់មួុយ។
        យកខ្ទះដាក់ប្រេងឆាចូលរួចដាក់ម្ទេសឆ្អើរចូលឆាមួយសន្ទុះដាក់គល់ស្លឹកគ្រៃបុកចូលនិងខ្ទិះដូងចូលរួចដាក់ស្កត្នោតនិងប៊ីចេងចូលឆាអោយឆ្ងុយនិងប្រែពណ៏ក្រហមដាក់ស្បែកជ្រូកនិងសាច់ចិញ្ច្រាំចូលឆារំងាស់រហូតដល់ឆ្អិនសាច់ភ្លក់
        មើលល្មមជាការស្រេច។</p>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">កម្មង់</button>
</div>