<div class="container space-top">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/image/តែទឹកដោះគោគ្រីម.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../assets/image/តែទឹកដោះគោគ្រីម.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../assets/image/តែទឹកដោះគោគ្រីម.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container space-top">
    <h1>តែទឹកដោះគោគ្រីម</h1>
    <p>តែទឹកដោះគោគ្រីម គឺជាតែដែលពិសាទៅជួយអោយសុខភាពល្អនិងជាជម្រើសដ៏ល្អសម្រាប់យុវវ័យសម័យថ្មី​ 2022។បេតាការ៉ូទីន
        គឺជាសារធាតុប្រឆាំងអុកស៊ីតកម្មដ៏មានឥទ្ធិពលដែលផ្តល់ឱ្យបន្លែ និងផ្លែឈើពណ៌ទឹកក្រូចស្រស់ ។
        រាងកាយបំលែងបេតាការ៉ូទីនឱ្យទៅជាវីតាមីនអា។ </p>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button">កម្មង់</button>
</div>